<%- include("partials/header") %> 

<h1>Add new movie</h1>
<form action="/movies/" method="POST">
    <input type="text" name="movie[title]" placeholder="Title">
    <input type="number" name="movie[rating]" min="1" max="10" placeholder="Rating">
    <input type="text" name="movie[image]" placeholder="Image url">
    <textarea name="movie[review]" id="" cols="30" rows="10" placeholder="Review"></textarea>
    <button>Submit</button>
</form>

<%- include("partials/footer") %> 

